@model MainBlog
<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F993725ENR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-F993725ENR');


    </script>

    <title>İçses Analiz</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" href="~/images/logoico.ico" type="image/x-icon">
    <meta name="keywords" content="Fal, Falcı, Analiz, İçses, İçsesAnaliz,içsesanaliz,içsesanaliz.com,www.içsesanaliz.com,icsesanaliz.com,iç ses analiz,İç Ses Analiz,icses analiz, içsesanaliz, İçsesanaliz,burçların özellikleri,blog,blog yazıları,günlük analiz, burç, burçlar, büyü, kişilik, rüya, yorum, fıkra, günlük, komedi, aşk, aşk analizi, finans analizi, günlük analiz, günlük analiz yaptırmak istiyorum.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CMuli:100,300,400,600,800">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script type="text/javascript" src="../../js/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <!-- icofont -->



    <style>


        .blog_section {
            padding-top: 5rem;
            padding-bottom: 3rem;
        }

            .blog_section .blog_content .blog_item {
                font-family:Arial;
                margin-bottom: 30px;
                box-shadow: 0 0 11px 0 rgba(6, 22, 58, 0.14);
                position: relative;
                border-radius: 2px;
                overflow: hidden;
            }

                .blog_section .blog_content .blog_item:hover .blog_image img {
                    width: 70%;
                    height: 60%;
                    transform: scale(1.1);
                }

                .blog_section .blog_content .blog_item .blog_image {
                    width: 70%;
                    height: 60%;
                    overflow: hidden;
                    padding: 0;
                }

                    .blog_section .blog_content .blog_item .blog_image img {
                        margin-left: 30%;
                        width: 70%;
                        height: 60%;
                        transition: transform 0.5s ease-in-out;
                    }

                    .blog_section .blog_content .blog_item .blog_image span i {
                        position: absolute;
                        z-index: 2;
                        color: #fff;
                        font-size: 18px;
                        width: 38px;
                        height: 45px;
                        padding-top: 7px;
                        text-align: center;
                        right: 20px;
                        top: 0;
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 79%, 0 100%);
                        background-color: #ff5e14;
                    }

                .blog_section .blog_content .blog_item .blog_details {
                    padding: 25px 20px 30px 20px;
                }

                    .blog_section .blog_content .blog_item .blog_details .blog_title h5 a {
                        color: #020d26;
                        margin-top: 0;
                        margin-bottom: 10px;
                        font-size: 25px;
                        line-height: 32px;
                        font-weight: 400;
                        transition: all 0.3s;
                        text-decoration: none;
                    }

                        .blog_section .blog_content .blog_item .blog_details .blog_title h5 a:hover {
                            color: #ff5e14;
                        }

                    .blog_section .blog_content .blog_item .blog_details ul {
                        padding: 0 3px 10px 0;
                        margin: 0;
                    }

                        .blog_section .blog_content .blog_item .blog_details ul li {
                            display: inline-block;
                            padding-right: 15px;
                            position: relative;
                            color: #7f7f7f;
                        }

                            .blog_section .blog_content .blog_item .blog_details ul li i {
                                padding-right: 7px;
                            }

                    .blog_section .blog_content .blog_item .blog_details p {
                        border-top: 1px solid #e5e5e5;
                        margin-top: 4px;
                        padding: 20px 0 4px;
                    }

                    .blog_section .blog_content .blog_item .blog_details a {
                        font-size: 16px;
                        display: inline-block;
                        color: #ff5e14;
                        font-weight: 600;
                        text-decoration: none;
                        transition: all 0.3s;
                    }

                        .blog_section .blog_content .blog_item .blog_details a:hover {
                            color: #020d26;
                        }

                        .blog_section .blog_content .blog_item .blog_details a i {
                            vertical-align: middle;
                            font-size: 20px;
                        }

            .blog_section .blog_content .owl-nav {
                display: block;
            }

                .blog_section .blog_content .owl-nav .owl-prev {
                    position: absolute;
                    left: -27px;
                    top: 33%;
                    border: 5px solid #fff;
                    text-align: center;
                    z-index: 5;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    outline: 0;
                    background: #ff5e14;
                    transition: all 0.3s;
                    color: #fff;
                }

                    .blog_section .blog_content .owl-nav .owl-prev span {
                        font-size: 25px;
                        margin-top: -6px;
                        display: inline-block;
                    }

                    .blog_section .blog_content .owl-nav .owl-prev:hover {
                        background: #fff;
                        border-color: #ff5e14;
                        color: #ff5e14;
                    }

                .blog_section .blog_content .owl-nav .owl-next {
                    position: absolute;
                    right: -27px;
                    top: 33%;
                    border: 5px solid #fff;
                    text-align: center;
                    z-index: 5;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    outline: 0;
                    background: #ff5e14;
                    color: #fff;
                    transition: all 0.3s;
                }

                    .blog_section .blog_content .owl-nav .owl-next span {
                        font-size: 25px;
                        margin-top: -6px;
                        display: inline-block;
                    }

                    .blog_section .blog_content .owl-nav .owl-next:hover {
                        background: #fff;
                        border-color: #ff5e14;
                        color: #ff5e14;
                    }
    </style>
</head>
<body>

    <div class="preloader" id="loading">
        <div class="preloader-body">
            <div id="loading-center-object">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
            </div>
        </div>
    </div>
    <div class="page">


        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="10px" data-xl-stick-up-offset="10px" data-xxl-stick-up-offset="10px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <a href="@Url.Action("Index","Home")"><img alt="logo" style="cursor:pointer;" src="~/images/logoSon3.jpeg" /> </a>
                            </div>
                        </div>
                        <div class="rd-navbar-nav-wrap">
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li class="rd-nav-item active">
                                    <a style="cursor:pointer; margin-bottom:5px; width:100px; height:80px; border-radius:15px;" class="btn btn-outline-primary" href="@Url.Action("Index","Home")"><i class="fa fa-home"></i><br />Ana Sayfa</a>
                                </li>
                                <li class="rd-nav-item">
                                    <a style="cursor:pointer; margin-bottom:5px; width:100px; height:80px;  background-color:orangered; color:white; border-radius:15px;" class="btn btn-light" href="@Url.Action("About","Home")"><i class="fa fa-anchor"></i><br />Hakkımızda</a>
                                </li>
                                <li class="rd-nav-item">
                                    <a style="cursor:pointer; margin-bottom:5px; width:100px; height:80px;  border-radius:15px;" class="btn btn-info" href="@Url.Action("Login","Home")"><i class="fa fa-pie-chart"></i><br /> Analiz Yap</a>
                                </li>
                                <li class="rd-nav-item">
                                    <a style="cursor:pointer; margin-bottom:5px; width:100px; height:80px;  border-radius:15px;" class="btn btn-success" href="@Url.Action("SıngUp","Home")"><i class="fa fa-sign-out"></i><br />Üye Ol</a>
                                </li>
                                <li class="rd-nav-item">
                                    <a style="cursor:pointer; margin-bottom:5px; width:100px; height:80px;  border-radius:15px;" class="btn btn-secondary" href="@Url.Action("BlogList","Home")"><i class="fa fa-pencil-square"></i><br />Blog Köşesi</a>
                                </li>
                                <li class="rd-nav-item">
                                    <a style="cursor:pointer; margin-bottom:5px; width:100px; height:80px;  border-radius:15px;" class="btn btn-primary" href="@Url.Action("Help","Home")"><i class="fa fa-check"></i><br />Yardım</a>
                                </li>
                            </ul>
                        </div>
                        <div class="rd-navbar-element">
                            <a>@Html.ActionLink("Giriş Yap", "Login", "Home", new { }, new { @class = "button button-sm button-header button-winona" })</a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section class="blog_section">
            <div class="container">
                <div class="blog_content">
                    <div class="owl-carousel owl-theme">
                        <div class="blog_item">
                            <div class="blog_image">
                                <img class="img-fluid" src="~/upload/img/@Model.Gorsel" alt="images not found">
                                <span><i class="icon ion-md-create"></i></span>
                            </div>
                            <div class="blog_details">
                                <div class="blog_title">
                                    <div style="display:block; text-align:center;">
                                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1266803097331707"
                                                crossorigin="anonymous"></script>
                                        <ins class="adsbygoogle"
                                             style="display:block; text-align:center;"
                                             data-ad-layout="in-article"
                                             data-ad-format="fluid"
                                             data-ad-client="ca-pub-1266803097331707"
                                             data-ad-slot="1274766689"></ins>
                                        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                                    </div>
                                    <h5><a>@Model.Baslik</a></h5>
                                </div>
                                <ul>
                                    <li><i class="icon ion-md-person"></i><b>Yazar: </b>@Model.Yazar</li>
                                    <li><i class="icon ion-md-calendar"></i><b>Tarih:</b> @Model.Tarih.Day-@Model.Tarih.Month-@Model.Tarih.Year</li>
                                </ul>
                                <p>@Model.Icerik</p>
                                <br />
                                <p>Etiketler: <strong>@Model.Etiket</strong></p>

                            </div>
                            <div style="display:block; text-align:center;">
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1266803097331707"
                                        crossorigin="anonymous"></script>
                                <ins class="adsbygoogle"
                                     style="display:block; text-align:center;"
                                     data-ad-layout="in-article"
                                     data-ad-format="fluid"
                                     data-ad-client="ca-pub-1266803097331707"
                                     data-ad-slot="1274766689"></ins>
                                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div style="display:block; text-align:center;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1266803097331707"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block; text-align:center;"
                 data-ad-layout="in-article"
                 data-ad-format="fluid"
                 data-ad-client="ca-pub-1266803097331707"
                 data-ad-slot="1274766689"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>

        <!-- Features-->
        <footer class="section footer-classic">
            <div class="footer-classic-main">
                <div class="container">
                    <div class="row row-50 justify-content-lg-between">
                        <div class="col-sm-7 col-lg-3 col-xl-2">
                            <a class="brand" href="@Url.Action("Index","Home")"><img src="~/images/logoSon3.jpeg" alt="logo" width="270" height="61" /></a>
                            <p><span style="max-width: 250px;">Hizmelerimizden faydalanmak için ücretsiz bir şekilde üye olabilirsiniz. </span></p><a class="button button-sm button-default-outline button-winona" href="@Url.Action("Index","User")">Analiz Yap</a>
                        </div>
                        <div class="col-sm-7 col-lg-5 col-xl-3">
                            <h4 class="footer-classic-title">Hızlı Linkler</h4>
                            <ul class="list footer-classic-list footer-classic-list_2-cols">
                                <li><a>@Html.ActionLink("Giriş Yap", "Login", "Home", new { })</a></li>
                                <li><a>@Html.ActionLink("Ana Sayfa", "Index", "Home", new { })</a></li>
                                <li><a>@Html.ActionLink("Hakkımızda", "About", "Home", new { })</a></li>
                                <li><a>@Html.ActionLink("Analiz Yaptır", "Login", "Home", new { })</a></li>
                                <li><a>@Html.ActionLink("Üye Ol", "SıngUp", "Home", new { })</a></li>
                                <li><a>@Html.ActionLink("Blog Yazıları", "BlogList", "Home", new { })</a></li>
                                <li><a>@Html.ActionLink("Yardım", "Help", "Home", new { })</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-5 col-lg-9 col-xl-2">
                            <h4 class="footer-classic-title">İletişim</h4>
                            <div class="row row-20 row-sm-35">
                                <div class="col-6 col-sm-12 col-lg-8 col-xl-12">
                                    <div class="row row-10 text-default">
                                    </div>
                                </div>
                                <div class="col-6 col-sm-12 col-lg-4 col-xl-12 text-right text-sm-left">
                                    <div class="group group-xs"><a class="" href="#">Tiktok</a><a target="_blank" class="link link-social-1 mdi mdi-instagram" href="https://instagram.com/icsesanaliz.co"></a><a target="_blank" class="link link-social-1 mdi mdi-contact-mail" href="mailto:info@icsesanaliz.com"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-classic-aside">
                <div class="container">
                    <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>İçsesAnaliz</span>. Sitemizin Tüm Hakları Saklıdır. Design by <b>İçsesAnaliz</b></p>
                </div>
            </div>
        </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>

