
<!DOCTYPE html>
<html class="wide wow-animation" lang="tr">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F993725ENR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-F993725ENR');


    </script>

    <title>İçses Analiz</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta name="description" content="Sitemize ücretsiz üye olarak kişilik, doğum tarihi, aşk ve günlük analizlerinizi yaptırabilirsiniz. Sizin için tecrübeli ekibimizle bilgierinzden yola çıkarak ücretsiz analiz yapıyoruz. Aklınızdaki kişi ile aranızdaki ilişki hakkında, doğum tarihinizden yola çıkarak kişiliğiniz hakkında, burcunuz ile alakalı özellikler ile yaşam tarzınız hakkında, eğitim durumunuz ve hobilerinizi ele alarak günlük analizlere kolayca ulaşmak ister misiniz? Günümüzde çokça yaygın kullanılan astrolojik veriler ile sizinde hayatınıza katacağınız sonsuz analizler bulunmaktadır. Yapay zekamız özenle hakkınızdaki analizleri hazırlamaktadır. Hayatınıza profesyonel dokuşlara hazır olun. İleriye dönük fikirlerinizi bizden analiz yapmayana kadar hayata geçirmeyin. Sitemizi kullanıcı dostu arayüz, sürekli ve güncel blog yazıları, verilerin güvenliği, kolay erişim ve kullanıcı dostu ilkeler ile sizin için hizmete sunduk. Analizler yaparken kendinizi güvende hissedin. Bugün Türkiye'nin birçok yerinden müşteri kitlesi ile büyük bir aile olduk. Hedefimiz kaliteli hizmet sunarak siz kullanıcılarımızın analizlerini gerçekleştirmek. Sizde aramıza katılın ve değerli ailemizin bir parçası olun. Geçmişe dokunamayız ama geleceği değiştirmek bizim elimizde. Değişmenin en temel kuralı bugünden başlamaktır. Sende bugünden başlayıp geleceğine yön verebilirsin." />
    <meta charset="utf-8">
    <link rel="icon" href="~/images/logoico.ico" type="image/x-icon">
    <meta name="keywords" content="Fal, Falcı, Analiz, İçses, İçsesAnaliz,içsesanaliz,içsesanaliz.com,www.içsesanaliz.com,icsesanaliz.com,iç ses analiz,İç Ses Analiz,icses analiz, içsesanaliz, İçsesanaliz,burçların özellikleri,blog,blog yazıları,günlük analiz, burç, burçlar, büyü, kişilik, rüya, yorum, fıkra, günlük, komedi, aşk, aşk analizi, finans analizi, günlük analiz, günlük analiz yaptırmak istiyorum.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CMuli:100,300,400,600,800">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script type="text/javascript" src="../../js/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <!-- icofont -->



    <style>

        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }

        .counter {
            color: #2793D3;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            height: 240px;
            width: 210px;
            padding: 70px 20px;
            margin: 0 auto;
            position: relative;
            z-index: 1;
        }

            .counter:before {
                content: '';
                background: linear-gradient(to right, #f5f5f5, #fff);
                border-radius: 7px;
                border: 3px solid #fff;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
                transform: rotate(45deg);
                position: absolute;
                left: 30px;
                right: 30px;
                bottom: 45px;
                top: 45px;
                z-index: -1;
            }

            .counter .counter-value {
                font-size: 28px;
                font-weight: 600;
                line-height: 30px;
                display: block;
                margin: 0 0 9px;
            }

                .counter .counter-value:before,
                .counter .counter-value:after {
                    content: '';
                    background: linear-gradient(to right bottom, #5ED3DA, #2793D3, #5ED3DA);
                    height: 80px;
                    width: 80px;
                    border-radius: 10px;
                    transform: translateX(-50%) rotate(45deg);
                    position: absolute;
                    left: 50%;
                    top: 15px;
                    z-index: -2;
                }

                .counter .counter-value:after {
                    top: auto;
                    bottom: 15px;
                }

            .counter h3 {
                color: #888;
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
                margin: 0 0 15px;
            }

            .counter .counter-icon {
                font-size: 30px;
                line-height: 30px;
                margin: 0 0 25px;
            }

            .counter.magenta {
                color: #B20005;
            }

                .counter.magenta .counter-value:before,
                .counter.magenta .counter-value:after {
                    background: linear-gradient(to right bottom, #F00374, #B20005, #F00374);
                }

            .counter.purple {
                color: #8264CC;
            }

                .counter.purple .counter-value:before,
                .counter.purple .counter-value:after {
                    background: linear-gradient(to right bottom, #A978BA, #8264CC, #A978BA);
                }

            .counter.blue {
                color: #183A8C;
            }

                .counter.blue .counter-value:before,
                .counter.blue .counter-value:after {
                    background: linear-gradient(to right bottom, #2873E8, #183A8C, #2873E8);
                }

            .counter.yellow {
                color: #26c81f;
            }

                .counter.yellow .counter-value:before,
                .counter.yellow .counter-value:after {
                    background: linear-gradient(to right bottom, #219e04, #26c81f, #4fef2f);
                }

        .blog_section {
            padding-top: 5rem;
            padding-bottom: 3rem;
        }

            .blog_section .blog_content .blog_item {
                margin-bottom: 30px;
                box-shadow: 0 0 11px 0 rgba(6, 22, 58, 0.14);
                position: relative;
                border-radius: 2px;
                overflow: hidden;
            }

                .blog_section .blog_content .blog_item:hover .blog_image img {
                    transform: scale(1.1);
                }

                .blog_section .blog_content .blog_item .blog_image {
                    overflow: hidden;
                    padding: 0;
                }

                    .blog_section .blog_content .blog_item .blog_image img {
                        width: 100%;
                        transition: transform 0.5s ease-in-out;
                    }

                    .blog_section .blog_content .blog_item .blog_image span i {
                        position: absolute;
                        z-index: 2;
                        color: #fff;
                        font-size: 18px;
                        width: 38px;
                        height: 45px;
                        padding-top: 7px;
                        text-align: center;
                        right: 20px;
                        top: 0;
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 79%, 0 100%);
                        background-color: #ff5e14;
                    }

                .blog_section .blog_content .blog_item .blog_details {
                    padding: 25px 20px 30px 20px;
                }

                    .blog_section .blog_content .blog_item .blog_details .blog_title h5 a {
                        color: #020d26;
                        margin-top: 0;
                        margin-bottom: 10px;
                        font-size: 25px;
                        line-height: 32px;
                        font-weight: 400;
                        transition: all 0.3s;
                        text-decoration: none;
                    }

                        .blog_section .blog_content .blog_item .blog_details .blog_title h5 a:hover {
                            color: #ff5e14;
                        }

                    .blog_section .blog_content .blog_item .blog_details ul {
                        padding: 0 3px 10px 0;
                        margin: 0;
                    }

                        .blog_section .blog_content .blog_item .blog_details ul li {
                            display: inline-block;
                            padding-right: 15px;
                            position: relative;
                            color: #7f7f7f;
                        }

                            .blog_section .blog_content .blog_item .blog_details ul li i {
                                padding-right: 7px;
                            }

                    .blog_section .blog_content .blog_item .blog_details p {
                        border-top: 1px solid #e5e5e5;
                        margin-top: 4px;
                        padding: 20px 0 4px;
                    }

                    .blog_section .blog_content .blog_item .blog_details a {
                        font-size: 16px;
                        display: inline-block;
                        color: #ff5e14;
                        font-weight: 600;
                        text-decoration: none;
                        transition: all 0.3s;
                    }

                        .blog_section .blog_content .blog_item .blog_details a:hover {
                            color: #020d26;
                        }

                        .blog_section .blog_content .blog_item .blog_details a i {
                            vertical-align: middle;
                            font-size: 20px;
                        }

            .blog_section .blog_content .owl-nav {
                display: block;
            }

                .blog_section .blog_content .owl-nav .owl-prev {
                    position: absolute;
                    left: -27px;
                    top: 33%;
                    border: 5px solid #fff;
                    text-align: center;
                    z-index: 5;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    outline: 0;
                    background: #ff5e14;
                    transition: all 0.3s;
                    color: #fff;
                }

                    .blog_section .blog_content .owl-nav .owl-prev span {
                        font-size: 25px;
                        margin-top: -6px;
                        display: inline-block;
                    }

                    .blog_section .blog_content .owl-nav .owl-prev:hover {
                        background: #fff;
                        border-color: #ff5e14;
                        color: #ff5e14;
                    }

                .blog_section .blog_content .owl-nav .owl-next {
                    position: absolute;
                    right: -27px;
                    top: 33%;
                    border: 5px solid #fff;
                    text-align: center;
                    z-index: 5;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    outline: 0;
                    background: #ff5e14;
                    color: #fff;
                    transition: all 0.3s;
                }

                    .blog_section .blog_content .owl-nav .owl-next span {
                        font-size: 25px;
                        margin-top: -6px;
                        display: inline-block;
                    }

                    .blog_section .blog_content .owl-nav .owl-next:hover {
                        background: #fff;
                        border-color: #ff5e14;
                        color: #ff5e14;
                    }
    </style>
</head>
<body>

    <div class="preloader" id="loading">
        <div class="preloader-body">
            <div id="loading-center-object">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
            </div>
        </div>
    </div>
    <div class="page">


        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="10px" data-xl-stick-up-offset="10px" data-xxl-stick-up-offset="10px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <a style="cursor:pointer" href="@Url.Action("Index","Home")"><img src="~/images/logoSon3.jpeg" /></a>
                                
                            </div>
                        </div>
                        <div class="rd-navbar-nav-wrap">
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li class="rd-nav-item active">
                                    <a style="cursor:pointer; margin-bottom:5px; width:100px; height:80px; border-radius:15px;" class="btn btn-outline-primary" href="@Url.Action("Index","Home")"><i class="fa fa-home"></i><br />Ana Sayfa</a>
                                </li>
                                <li class="rd-nav-item">
                                    <a style="cursor:pointer; margin-bottom:5px; width:100px; height:80px;  background-color:orangered; color:white; border-radius:15px;" class="btn btn-light" href="@Url.Action("About","Home")"><i class="fa fa-anchor"></i><br />Hakkımızda</a>
                                </li>
                                <li class="rd-nav-item">
                                    <a style="cursor:pointer; margin-bottom:5px; width:100px; height:80px;  border-radius:15px;" class="btn btn-info" href="@Url.Action("Index","User")"><i class="fa fa-pie-chart"></i><br /> Analiz Yap</a>
                                </li>
                                <li class="rd-nav-item">
                                    <a style="cursor:pointer; margin-bottom:5px; width:100px; height:80px;  border-radius:15px;" class="btn btn-success" href="@Url.Action("SıngUp","Home")"><i class="fa fa-sign-out"></i><br />Üye Ol</a>
                                </li>
                                <li class="rd-nav-item">
                                    <a style="cursor:pointer; margin-bottom:5px; width:100px; height:80px;  border-radius:15px;" class="btn btn-secondary" href="@Url.Action("BlogList","Home")"><i class="fa fa-pencil-square"></i><br />Blog Köşesi</a>
                                </li>
                                <li class="rd-nav-item">
                                    <a style="cursor:pointer; margin-bottom:5px; width:100px; height:80px;  border-radius:15px;" class="btn btn-primary" href="@Url.Action("Help","Home")"><i class="fa fa-check"></i><br />Yardım</a>
                                </li>
                            </ul>
                        </div>
                        <div class="rd-navbar-element">
                            <a>@Html.ActionLink("Giriş Yap", "Login", "Home", new { }, new { @class = "button button-sm button-header button-winona" })</a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="parallax-content">

            <!-- FScreen-->
            <div class="anasayfa">
                <div class="page-header-2-inner">

                    <div class="container">

                        <div class="block-4">

                            <h2 style="color:white;" class="font-weight-extra-black wow clipInLeft" data-wow-delay=".1s">Profesyonel Analiz</h2>
                            <h4 style="color:white;" class="text-default wow clipInLeft" data-wow-delay=".1s">Sitemize ücretsiz üye olarak kişilik, doğum tarihi, aşk ve günlük analizlerinizi yaptırabilirsiniz. Sizin için uzun süreli tecrübemizle tamamen ücretsiz hizmet sunuyoruz. Sizde aramıza katılın. </h4>
                            <div class="group-xl group-middle">

                                <div><a data-wow-delay=".2s">@Html.ActionLink("Analiz Yaptır", "Index", "User", new { }, new { @class = "button button-lg button-google button-shadow button-winona wow clipInLeft" })</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-6">
                    <div class="counter yellow">
                        <span class="counter-value">109167</span>
                        <h3>Yapılan Analiz</h3>
                        <div class="counter-icon">
                            <i class="fa fa-bar-chart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <!-- About App-->
        <div style="display:block; text-align:center;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1266803097331707"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block; text-align:center;"
                 data-ad-layout="in-article"
                 data-ad-format="fluid"
                 data-ad-client="ca-pub-1266803097331707"
                 data-ad-slot="1274766689"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
        <section class="section section-md bg-gray-100 text-center">
            <div class="container">
                <div class="badge wow fadeIn">Bilgi Köşesi</div>
                <h3 class="wow fadeIn">
                    BURÇLAR

                </h3>
                <div class="row row-30 row-xl-60">
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box Modern-->
                        <article class="box-modern wow fadeIn" data-anime="circles-2">

                            <p class="box-modern-title">KOÇ<br />21 Mart – 19 Nisan</p>
                            <div class="box-modern-text">
                                <p>
                                    Yönetici Gezegeni: Mars<br />
                                    Grup: Öncü<br />
                                    Elementi: ateş<br />
                                    Renk: Kırmızı<br />
                                    Pozitif kaliteleri: Cesur, samimi, enerjik, özgürlüğüne çok düşkün, spontane, maceracı ve girişken, başkalarına heves veren kişilik, çocuksu heyecan<br />
                                    Olumsuz ve zayıf yanları: acelecilik, egoizm, her şeyi hemen anında istemek ve hemen tepki vermek.<br />
                                    Enerji Merkezi: Kök Çakra, Muladhara
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box Modern-->
                        <article class="box-modern wow fadeIn" data-anime="circles-2">

                            <p class="box-modern-title">
                                BOĞA<br />
                                20 Nisan - 20 Mayıs
                            </p>
                            <div class="box-modern-text">
                                <p>
                                    Yönetici Gezegeni: Venüs<br />
                                    Grup: Sabit<br />
                                    Elementi: Toprak<br />
                                    Renk: Yeşil, Toprak renkleri<br />
                                    Pozitif kaliteleri: Arkadaş canlısı, dayanma gücü yüksek, iradeli, estetik zevkleri gelişmiş, sezgileri güçlü, sabırlı.<br />
                                    Olumsuz ve zayıf yanları: İnatçı, zevk düşkünü, tembel, açgözlülük, esneklikten yoksunluk, aşırı sahiplenicilik.<br />
                                    Enerji Merkezi: Kalp çakra
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box Modern-->
                        <article class="box-modern wow fadeIn" data-anime="circles-2">

                            <p class="box-modern-title">
                                İKİZLER<br />
                                21 Mayıs - 21 Haziran
                            </p>
                            <div class="box-modern-text">
                                <p>
                                    Yönetici Gezegeni: Merkür<br />
                                    Grubu: Değişken<br />
                                    Elementi: Hava<br />
                                    Rengi: Sarı<br />
                                    Pozitif kaliteleri: Entellektüel, mantıklı, çabuk kavrayan, konuşkan , eğlenceli, bilgi dolu.<br />
                                    Olumsuz ve zayıf yanları: Değişken, kararsız, ikiyüzlü, yüzeysel, maymun iştahlı, duygusal olarak yetersiz, dedikodu, eleştirici.<br />
                                    Enerji Merkezi: 2. çakra Svadistan
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box Modern-->
                        <article class="box-modern wow fadeIn" data-anime="circles-2">

                            <p class="box-modern-title">
                                YENGEÇ<br />
                                22 Haziran - 22 Temmuz
                            </p>
                            <div class="box-modern-text">
                                <p>
                                    Yönetici Gezegeni: Ay<br />
                                    Grup: Öncü<br />
                                    Elementi: Su<br />
                                    Renk: Gümüş rengi, gri<br />
                                    Pozitif kaliteleri: Empatik, gelişmiş annelik duygusu, koruyucu, fedakar ve başkalarının ihtiyaçlarına duyarlı, güçlü sezgi yeteneği<br />
                                    Olumsuz ve zayıf yanları: Aşırı duygusallık, alıngan, değişken ve endişelenen, huzursuz.
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box Modern-->
                        <article class="box-modern wow fadeIn" data-anime="circles-2">

                            <p class="box-modern-title">
                                ASLAN<br />
                                24 Temmuz - 23 Ağustos
                            </p>
                            <div class="box-modern-text">
                                <p>
                                    Yönetici Gezegeni: Güneş<br />
                                    Grup: Sabit<br />
                                    Elementi: ateş<br />
                                    Renk: Altın sarısı<br />
                                    Pozitif kaliteleri: Yüce gönüllü, geniş düşünceli, cömert, kendine güvenen, ilham veren, artistik.<br />
                                    Olumsuz ve zayıf yanları: Egoist, hoşgörüsüz, kibirli<br />
                                    Enerji Merkezi: 6. çakra Agnya<br /><br />
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box Modern-->
                        <article class="box-modern wow fadeIn" data-anime="circles-2">

                            <p class="box-modern-title">
                                BAŞAK<br />
                                24 Ağustos – 24 Eylül
                            </p>
                            <div class="box-modern-text">
                                <p>
                                    Yönetici Gezegeni: Merkür<br />
                                    Grup: Değişken<br />
                                    Elementi: Toprak<br />
                                    Renk: Mavi, Yeşil tonları<br />
                                    Pozitif kaliteleri: Cesur, samimi, enerjik, özgürlüğüne çok düşkün, spontane, maceracı ve girişken, başkalarına heves veren kişilik, çocuksu heyecan<br />
                                    Olumsuz ve zayıf yanları: acelecilik, egoizm, her şeyi hemen anında istemek<br />
                                    Enerji Merkezi: 2. çakra Svadistan.
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box Modern-->
                        <article class="box-modern wow fadeIn" data-anime="circles-2">

                            <p class="box-modern-title">
                                TERAZİ<br />
                                24 Eylül - 23 Ekim
                            </p>
                            <div class="box-modern-text">
                                <p>
                                    Yönetici Gezegeni: Venüs<br />
                                    Grup: Öncü<br />
                                    Elementi: Hava<br />
                                    Renk: Pastel renkler<br />
                                    Pozitif kaliteleri: Cesur, samimi, enerjik, özgürlüğüne çok düşkün, spontane, maceracı ve girişken, başkalarına heves veren kişilik, çocuksu heyecan<br />
                                    Olumsuz ve zayıf yanları: Acelecilik, egoizm, her şeyi hemen anında istemek ve hemen tepki vermek.<br />
                                    Enerji Merkezi: Kalp çakra.
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box Modern-->
                        <article class="box-modern wow fadeIn" data-anime="circles-2">

                            <p class="box-modern-title">
                                AKREP<br />
                                24 Ekim -22 Kasım
                            </p>
                            <div class="box-modern-text">
                                <p>
                                    Yönetici Gezegeni: Mars ve Pluto<br />
                                    Grup: Sabit<br />
                                    Elementi: Su<br />
                                    Renk: Koyu kırmızı, bordo<br />
                                    Pozitif kaliteleri: Kendini dönüştürebileme gücü, derin kavrayış, sezgi gücü, dayanıklı ve kararlı, başkalarını etkileme gücü.<br />
                                    Olumsuz ve zayıf yanları: Kıskançlık, sahiplenicilik, kincilik, kuşkuculuk, güce düşkünlük.<br />
                                    Enerji Merkezi: 7. çakra Sahasrara
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box Modern-->
                        <article class="box-modern wow fadeIn" data-anime="circles-2">

                            <p class="box-modern-title">
                                YAY<br />
                                23 Kasım - 21 Aralık
                            </p>
                            <div class="box-modern-text">
                                <p>
                                    Yönetici Gezegeni: Jüpiter<br />
                                    Grup: Değişken<br />
                                    Elementi: ateş<br />
                                    Renk: Turkuaz, mor<br />
                                    Pozitif kaliteleri: Yeniliğe açık, hoşgörülü, cömert, felsefi, iyimser, inançlı, özgürlüğe düşkün ve coşkulu.<br />
                                    Olumsuz ve zayıf yanları: Dogmatik, fanatik, patavatsız ve abartıya açık.<br />
                                    Enerji Merkezi: 3. çakra Nabhi<br /><br /><br />
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box Modern-->
                        <article class="box-modern wow fadeIn" data-anime="circles-2">

                            <p class="box-modern-title">
                                OĞLAK<br />
                                22 Aralık – 22 Ocak
                            </p>
                            <div class="box-modern-text">
                                <p>
                                    Yönetici Gezegeni: Satürn<br />
                                    Grup: Öncü<br />
                                    Elementi: Toprak<br />
                                    Renk: Kahverengi, koyu gri<br />
                                    Pozitif kaliteleri: Zorluklara dayanan, güvenilir, sabırlı, kararlı, düzenli<br />
                                    Olumsuz ve zayıf yanları: İnatçılık, kötümser, cimri, materyalist, mevki düşkünü.<br />
                                    Enerji Merkezi: 5. çakra Vişhudi<br /><br /><br />
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box Modern-->
                        <article class="box-modern wow fadeIn" data-anime="circles-2">

                            <p class="box-modern-title">
                                KOVA<br />
                                21 Ocak - 19 Şubat
                            </p>
                            <div class="box-modern-text">
                                <p>
                                    Yönetici Gezegeni: Satürn ve Uranüs<br />
                                    Grup: Sabit<br />
                                    Elementi: Hava<br />
                                    Renk: Turkuaz<br />
                                    Pozitif kaliteleri: Hümanist, ileri görüşlü, yenilikçi, objektif, akılcı ve bilimsel, sosyalleşmelte yetenekli.<br />
                                    Olumsuz ve zayıf yanları: Geleneklere karşı gelen, farklı olmaya çalışan, huzursuz ve asi.<br />
                                    Enerji Merkezi: 5. Çakra Vişhuddi<br /><br />
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box Modern-->
                        <article class="box-modern wow fadeIn" data-anime="circles-2">

                            <p class="box-modern-title">
                                BALIK<br />
                                19 Şubat - 20 Mart
                            </p>
                            <div class="box-modern-text">
                                <p>
                                    Yönetici Gezegeni: Jüpiter ve Neptün<br />
                                    Grup: Değişken<br />
                                    Elementi: Su<br />
                                    Renk: Deniz yeşili<br />
                                    Pozitif kaliteleri: Duyarlı, merhametli, hayal gücü kuvvetli, sanatsal ilham ve yaratıcı ,iyi kalpli, güçlü inanç<br />
                                    Olumsuz ve zayıf yanları: İradesiz, kararsız, özgüveni düşük. Aşırı hayalperest, gerçeklerden kaçan<br />
                                    Enerji Merkezi: 3. çakra Nabhi ve 6.çakra Agnya
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <div style="display:block; text-align:center;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1266803097331707"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block; text-align:center;"
                 data-ad-layout="in-article"
                 data-ad-format="fluid"
                 data-ad-client="ca-pub-1266803097331707"
                 data-ad-slot="1274766689"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
       
           
            <!-- Features-->
            <section class="section section-lg">
                <div class="container">
                    <div class="row row-50">
                        <div class="col-sm-10 col-lg-5 wow fadeInRightSmall">
                            <div class="badge">Neden Biz?</div>
                            <h3>Sizin İçin Ücretsiz<br>Sizin İçin Kullanışlı</h3>
                            <p class="big inset-3" style="letter-spacing: .025em">Size en uygun analizleri ücretsiz bir şekilde yapmak için buradayız. Sizden aldığımız verileri güvende tutuyoruz. Kişisel verilerinizden yola çıkarak her gün analiz yaptırma hakkı sunuyoruz. </p>
                            <ul class="list-marked">
                                <li>Kaliteli ve Detaylı Analiz</li>
                                <li>Uzun Süreli Tecrübe</li>
                                <li>Ücretsiz ve Kullanışlı</li>
                            </ul>
                        </div>
                        <div class="col-sm-10 col-lg-7 wow fadeInLeftSmall text-center">
                            <img class="img-custom" src="~/images/fortunateller2.jpg" alt="resim" width="610" height="432" />
                        </div>
                    </div>
                </div>
            </section>
            <div style="display:block; text-align:center;">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1266803097331707"
                        crossorigin="anonymous"></script>
                <ins class="adsbygoogle"
                     style="display:block; text-align:center;"
                     data-ad-layout="in-article"
                     data-ad-format="fluid"
                     data-ad-client="ca-pub-1266803097331707"
                     data-ad-slot="1274766689"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
            <footer class="section footer-classic">
                <div class="footer-classic-main">
                    <div class="container">
                        <div class="row row-50 justify-content-lg-between">
                            <div class="col-sm-7 col-lg-3 col-xl-2">
                                <a class="brand" href="@Url.Action("Index","Home")"><img src="~/images/logoSon3.jpeg" alt="logo" width="270" height="61" /></a>
                                <p><span style="max-width: 250px;">Hizmelerimizden faydalanmak için ücretsiz bir şekilde üye olabilirsiniz. </span></p><a class="button button-sm button-default-outline button-winona" href="@Url.Action("Index","User")">Analiz Yap</a>
                            </div>
                            <div class="col-sm-7 col-lg-5 col-xl-3">
                                <h4 class="footer-classic-title">Hızlı Linkler</h4>
                                <ul class="list footer-classic-list footer-classic-list_2-cols">
                                    <li><a>@Html.ActionLink("Giriş Yap", "Login", "Home", new { })</a></li>
                                    <li><a>@Html.ActionLink("Ana Sayfa", "Index", "Home", new { })</a></li>
                                    <li><a>@Html.ActionLink("Hakkımızda", "About", "Home", new { })</a></li>
                                    <li><a>@Html.ActionLink("Analiz Yaptır", "Login", "Home", new { })</a></li>
                                    <li><a>@Html.ActionLink("Üye Ol", "SıngUp", "Home", new { })</a></li>
                                    <li><a>@Html.ActionLink("Blog Yazıları", "BlogList", "Home", new { })</a></li>
                                    <li><a>@Html.ActionLink("Yardım", "Help", "Home", new { })</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-5 col-lg-9 col-xl-2">
                                <h4 class="footer-classic-title">İletişim</h4>
                                <div class="row row-20 row-sm-35">
                                    <div class="col-6 col-sm-12 col-lg-8 col-xl-12">
                                        <div class="row row-10 text-default">
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-12 col-lg-4 col-xl-12 text-right text-sm-left">
                                        <div class="group group-xs"><a class="" href="#">Tiktok</a><a target="_blank" class="link link-social-1 mdi mdi-instagram" href="https://instagram.com/icsesanaliz.co"></a><a target="_blank" class="link link-social-1 mdi mdi-contact-mail" href="mailto:info@icsesanaliz.com"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-classic-aside">
                    <div class="container">
                        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>İçsesAnaliz</span>. Sitemizin Tüm Hakları Saklıdır. Design by <b>İçsesAnaliz</b></p>
                    </div>
                </div>
            </footer>
        </div>
        <div class="snackbars" id="form-output-global"></div>
        <script src="~/js/core.min.js"></script>
        <script src="~/js/script.js"></script>
        <script>
            $(document).ready(function () {
                $('.counter-value').each(function () {
                    $(this).prop('Counter', 0).animate({
                        Counter: $(this).text()
                    }, {
                            duration: 3500,
                            easing: 'swing',
                            step: function (now) {
                                $(this).text(Math.ceil(now));
                            }
                        });
                });
            });
        </script>
</body>
</html>

